<% include ../partials/head %>
<div class="row">
    <div class="column">
        <h1>19:40</h1>
        <p>19th March 2018</p>
    <section id="schedule">
        <ul id="events-upcoming">
        </ul>
        <ul id="events-past">
        </ul>
    </section>
</div>
    <div class="column">
            <!--<iframe id="frame" src="https://www.google.com/maps/place/University+of+Sharjah/@25.2867756,55.4761827,17z/data=!3m1!4b1!4m5!3m4!1s0x3e5f5f9b635ad6a7:0x6867993b795ff0ab!8m2!3d25.2867708!4d55.4783714" width="100%" height="300">
                </iframe>-->
    </div>
    <div class="column">
       
    </div>
</div>
<% include ../partials/footer %>